.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# Folder containing Test Results
Tests

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
.idea/vcs.xml
.idea/Gossip-Algorithm.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
